Scene (
    materials: {
        "suzanne": (
            textures: {
                "color": "suzanne_texture_color.png",
                "normal": "suzanne_texture_normal.png",
                "reflection": "suzanne_texture_ao_specular_reflection.png",
            },
        ),
        "dragon": (
            textures: {
                "color": "dragon_texture_color.png",
                "normal": "dragon_texture_normal.png",
                "reflection": "dragon_texture_ao_specular_reflection.png",
            },
        ),
        "plane": (
            textures: {
                "color": "plane_texture_color.png",
                "normal": "plane_texture_normal.png",
                "depthmap": "plane_texture_depthmap.png"
            }
        )
    },
    objects: {
        "suzanne": (
            mesh: "suzanne.obj",
            material_name: "suzanne",
        ),
        "plane": (
            mesh: "plane.obj",
            material_name: "plane",
        ),
        "dragon": (
            mesh: "dragon.obj",
            material_name: "dragon",
        )
    },
    instances: [(
        object: "suzanne",
        offset: Some((0.2, 0.0, 0.0)),
        scale: Some(0.25),
    ), (
        object: "plane",
        offset: Some((0.0, -0.35, -0.5)),
        scale: Some(2.0),
    ), (
        object: "dragon",
        offset: Some((-0.1, -0.05, -0.25)),
        scale: Some(0.5),
    )]
)